<% cart_items.each do |product| %>
  <li><%= link_to product.name, product_path(product) %></li>
<% end %>

<li role="separator" class="divider"></li>
<li class="active"><%= link_to 'Checkout', checkout_path %></li>