<h1>Checkout page bitches</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_items.each do |order_item| %>
      <tr>
        <td><%= order_item.product.name %></td>
        <td><%= number_to_currency(order_item.product.price) %></td>
        <td><%= order_item.quantity %></td>
        <td><%= image_tag(order_item.product.photo.thumb.url) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


